@page
@model AniX_WEB.Pages.ProfileModel
@{
    Layout = "_LayoutProfile";
}
<!--=====================================-->
<!--=      Breadcrumb Area Start        =-->
<!--=====================================-->
<section class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="./Index">Home</a></li>
                <li><a class="active">Profile</a></li>
            </ul>
        </div>
    </div>
</section>
<!--=====================================-->
<!--=      Profile Area Start        =-->
<!--=====================================-->
<section class="profile sec-mar">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-12 col-12">
                <div class="row pb-5">
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="img-box">
                            <img src="@Model.ProfileImageUrl" alt="">
                        </div>
                    </div>
                    <div class="profile-seting col-lg-8 col-sm-6 col-12">
                        <h5>@Model.CurrentUser.Username</h5>
                        <p>@('@')@Model.CurrentUser.Username</p>
                        <p class="pb-3">@Model.CurrentUser.Email</p>
                        <a href="./ProfileEdit" class="anime-btn btn-dark border-change">
                            EDIT PROFILE
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-0 col-sm-8 offset-sm-2 col-12">
                <div class="profile-link bg-color-black">
                    <h5>Playlists</h5>
                    <a href="./playlist.html">Watch Later</a>
                    <a href="./playlist.html">Current Watch List</a>
                </div>
            </div>
        </div>
    </div>
</section>