@page
@model AniX_WEB.Pages.ProfileEditModel
@{
    Layout = "_LayoutProfile";
}
<!--=====================================-->
<!--=      Breadcrumb Area Start        =-->
<!--=====================================-->
<section class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="./Index">Home</a></li>
                <li><a class="active">Edit Profile</a></li>
            </ul>
        </div>
    </div>
</section>
<!--=====================================-->
<!--=      Profile Area Start        =-->
<!--=====================================-->
<section class="profile sec-mar">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-12 col-12">
                <div class="row pb-5">
                    <div class="col-lg-4 col-sm-12 col-12">
                        <div class="img-box">
                            <!-- Bind the source to the ProfileImagePath of the user -->
                            <img src="@Model.EditableUser.ProfileImagePath" alt="Profile Image">

                            <!-- Form for uploading new image -->
                            <form method="post" enctype="multipart/form-data">
                                <input type="file" name="ProfileImage" accept="image/*">
                                <button type="submit">Change Profile Image</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-12 col-12">
                        <!-- Form for updating user details -->
                        <form method="post">
                            <div class="form-group">
                                <label>New Name</label>
                                <!-- Bind the value -->
                                <input class="form-control" type="text" name="EditableUser.Username" value="@Model.EditableUser.Username" required placeholder="username">
                            </div>
                            <div class="form-group">
                                <label>New Email</label>
                                <!-- Bind the value -->
                                <input class="form-control" type="email" name="EditableUser.Email" value="@Model.EditableUser.Email" required placeholder="email@example.com">
                            </div>
                            <div class="form-group">
                                <label>New Password</label>
                                <!-- Password should generally not be auto-filled -->
                                <input class="form-control" type="password" name="EditableUser.Password" required placeholder="password">
                            </div>
                            <button type="submit" class="anime-btn btn-dark border-change">
                                Save Changes
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-0 col-sm-8 offset-sm-2 col-12">
                <div style="margin-top: 38px;" class="profile-link bg-color-black">
                    <h5>Playlists</h5>
                    <a href="./playlist.html">Watch Later</a>
                    <a href="./playlist.html">Current Watch List</a>
                </div>
            </div>
        </div>
    </div>
</section>