@using AniX_Shared.Extensions
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AniX</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/media/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="assets/css/vendor/slick.css">
    <link rel="stylesheet" href="assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="assets/css/vendor/sal.css">
    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="assets/css/app.css">

</head>
<body class="sticky-header">
<div id="loader-wrapper">
    <div id="loader"></div>
</div>
<a href="#main-wrapper" id="backto-top" class="back-to-top">
    <i class="fas fa-angle-double-up"></i>
</a>
<div class="main-wrapper" id="main-wrapper">
    <!--=====================================-->
    <!--=        Header Area Start       	=-->
    <!--=====================================-->
    <header class="header style-1">
        <div class="container">
            <!-- Start Mainmenu Nav -->
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/Index"><img src="assets/media/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <form asp-page="/filter" method="get">
                        <div class="input-group header-search-box">
                            <button class="input-group-text anime-btn" type="submit">
                                <i class="fal fa-search"></i>
                            </button>
                            <input class="form-control" name="searchQuery" type="text" placeholder="Search anime.." value="@Context.Request.Query["searchQuery"]">
                        </div>
                    </form>
                    <ul class="navbar-nav me-3 mainmenu right-nav ms-auto">
                        <li class="menu-item-has-children">
                            <a href="/Index">Home</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="@Url.Page("/filter", new { sortBy = (int)SortCriteria.MostPopular })">Trending</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="@Url.Page("/filter", new { sortBy = (int)SortCriteria.RecentlyUpdated })">Updates</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#Pages" class="dropdown-toggle" id="pages" data-bs-toggle="dropdown"
                               data-bs-auto-close="outside" aria-expanded="false">Pages</a>
                            <ul class="dropdown-menu" aria-labelledby="pages">
                                <li>
                                    <a href="/Index">Home</a>
                                </li>
                                <li>
                                    <a href="./watch">Trailer</a>
                                </li>
                                <li>
                                    <a href="./filter">List View</a>
                                </li>
                                <li>
                                    <a href="./filter">Grid View</a>
                                </li>
                                <li>
                                    <a href="./Privacy"> Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="./TermsOfUse"> Terms of Use </a>
                                </li>
                                <li>
                                    <a href="./Profile">Profile</a>
                                </li>
                                <li>
                                    <a href="./ProfileEdit"> Edit Profile</a>
                                </li>
                                <li>
                                    <a href="/playlist">Playlist</a>
                                </li>
                                <li>
                                    <a href="/Login">Log In</a>
                                </li>
                                <li>
                                    <a href="/Register">Sign Up</a>
                                </li>
                                <li>
                                    <a href="./Reset">Reset Password</a>
                                </li>
                                <li>
                                    <a href="./404">404</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!--
                    <div class="d-flex ms-auto right-nav">
                        <a href="/Register" class="anime-btn btn-dark">SIGN UP</a>
                    </div>
                    -->
                </div>
            </nav>
        </div>
    </header>

    @RenderBody()

    <!--=====================================-->
    <!--=           Footer Area Start       =-->
    <!--=====================================-->
    <footer class="footer">
        <div class="footer-bottom bg-color-black">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="footer-copyright">
                                <span class="copyright-text">Copyright © <a href="/Index">AniX</a>. All Rights Reserved</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="footer-bottom-link text-end">
                            <span style="color: #DF0051;"> ▶</span><a href="./Privacy" class="ps-2">About</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-main style-1">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-5 col-sm-12 col-12">
                        <div class="footer-widget">
                                <a href="/Index">
                                <img alt="" src="assets/media/logo_.png">
                            </a>
                            <p class="mb-5">Disclaimer: This site does not store any files on its server. All contents are provided by non-affiliated third parties.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
    <div id="errorModal" class="modal fade" tabindex="-1" style="overflow:auto !important" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box mx-auto">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
            </div>
            <div class="modal-body text-center">
                <h4>Ooops!</h4>
                <p id="error-message">Something went wrong.</p>
                <button class="btn btn-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Jquery Js -->
<script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="assets/js/vendor/bootstrap.min.js"></script>
<script src="assets/js/vendor/imagesloaded.pkgd.min.js"></script>
<script src="assets/js/vendor/slick.min.js"></script>
<script src="assets/js/vendor/jquery.countdown.min.js"></script>
<script src="assets/js/vendor/jquery-appear.js"></script>
<script src="assets/js/vendor/sal.js"></script>

<script>
document.addEventListener("DOMContentLoaded", function () {
    var message = serverMessage || "";
    if (message.length > 0) {
        document.getElementById('error-message').innerText = message;
        var myModal = new bootstrap.Modal(document.getElementById('errorModal'));
        myModal.show();
    }
});
</script>

<script>
window.addEventListener("load", function () {
    setTimeout(function () {
        document.getElementById("loader-wrapper").style.opacity = "0";
        document.body.style.overflow = "auto";
        setTimeout(function () {
            document.getElementById("loader-wrapper").style.display = "none";
        }, 800);
    }, 800);
});

</script>

<script>
    $(document).ready(function() {
        $('.modal').on('hidden.bs.modal', function() {
            if (!$('.modal.show').length) {
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                $('body').css('overflow', 'auto');
            }
        });
    });
</script>
<!-- Site Scripts -->
<script src="assets/js/app.js"></script>


</body>
</html>