@page
@model AniX_WEB.Pages._404Model
@{
    Layout = "_LayoutProfile";
}
<!--=====================================-->
<!--=      404 Area Start        =-->
<!--=====================================-->
<section class="anime-404 sec-pad text-center">
    <div class="container">
        <img src="./assets/media/404/404.png" alt="">
    </div>
</section>