@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<!--=====================================-->
<!--=      Breadcrumb Area Start        =-->
<!--=====================================-->
<section class="breadcrumb ">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="./Index">Home</a></li>
                <li><a class="active">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</section>
<!--=====================================-->
<!--=      Content Area Start        =-->
<!--=====================================-->
<section class="policy content sec-mar">
    <div class="container">
        <h6>Privacy Policy</h6>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <div class="show policy-content s-1">
                    <h3>Who we are?</h3>
                    <p>AniX is a centralized platform designed for anime enthusiasts. It allows users to explore trailers, read detailed descriptions, and share reviews about various anime series. The platform aims to provide a comprehensive experience for anime fans, offering curated content and a community-driven review system.</p>
                </div>
                <div class="policy-content s-2">
                    <h3>Data you provide us whenever you create an account</h3>
                    <p>When you create an account on AniX, we collect essential information such as your username, secure password, and email address for account recovery and communication. Your username is your unique identity within our community, and your password is securely stored for account protection. Your email address serves as a communication channel for important updates and notifications. We prioritize data security and privacy, using encryption and protective measures to keep your information safe.</p>
                </div>
                <div class="policy-content s-3">
                    <h3>Information we automatically collect</h3>
                    <p>At AniX, we employ automated data collection to enhance your anime journey. This includes gathering information such as your device's IP address, browser type, operating system, and your interactions with our website pages. We also use cookies to remember your preferences, optimize performance, and offer personalized recommendations. Your data security is paramount, with encryption safeguarding stored information in cookies. You have control over these processes, managing cookie preferences in your account settings. Our commitment to transparency and responsible data retention ensures that collected information serves to improve your experience while respecting your privacy, making your anime adventure enjoyable and tailored to your preferences.</p>
                </div>
                <div class="policy-content s-4">
                    <h3>Whenever you leave a review</h3>
                    <p>When you take the initiative to leave a review on the AniX platform, you're not just sharing your thoughts; you're contributing to a dynamic and community-driven anime ecosystem. Your review is your voice, allowing you to express your opinions, insights, and recommendations for fellow anime enthusiasts. Whether you're raving about a hidden gem or offering constructive feedback, your contribution enriches the collective knowledge of our community. It's not just about ratings; it's about sparking conversations, sharing passion, and fostering an environment where anime fans can connect and discover new favorites. Your reviews play a pivotal role in shaping the AniX experience, making it a vibrant hub for anime enthusiasts to learn, explore, and grow together. </p>
                </div>
                <div class="policy-content s-5">
                    <h3>Cookies that we use</h3>
                    <p>At AniX, we employ cookies strategically to elevate your anime journey. These small text files are designed to remember your preferences and improve the functionality of our platform. Cookies allow us to provide personalized recommendations based on your past interactions, making your anime exploration more tailored to your tastes. They also play a role in remembering your login status, ensuring a seamless and convenient experience. Rest assured, we take your data security seriously, and any information stored in cookies is protected through encryption.</p>
                </div>
                <div class="policy-content s-6">
                    <h3>Third party data collection</h3>
                    <p>In our pursuit of delivering the best anime experience, we occasionally collaborate with trusted third-party services to enrich our platform's features. These partnerships may involve the collection of certain data from your interactions with these integrated services, all aimed at enhancing your journey. For example, when you choose to link your AniX account with a third-party authentication service for a seamless login experience, we may access limited information provided by that service, such as your username or profile picture. Rest assured, we prioritize your data security and strictly adhere to privacy best practices when collaborating with these third-party services. We are committed to transparency, and our Privacy Policy provides comprehensive details about how such data is utilized, ensuring that it serves to elevate your anime adventure while safeguarding your privacy and preferences. Your trust in our approach is fundamental, and we continually strive to provide an enriched and secure platform for anime enthusiasts. </p>
                </div>
                <div class="policy-content s-7">
                    <h3>How safe is my information?</h3>
                    <p>Your information's security on the AniX platform is our utmost priority. We have implemented a robust set of measures to ensure the safety of your data. These include advanced encryption techniques to protect your sensitive details during transmission and storage. Access to your personal information is strictly controlled, with authorized personnel having limited access only when necessary. We regularly conduct security audits and updates to identify and address potential vulnerabilities, ensuring that our platform remains resilient to emerging threats. Our Privacy Policy outlines clear guidelines on how your data is handled, offering transparency and ensuring your rights as a user are respected. </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="policy-item s-1 show" data-count="1">
                    <span class="d-inline-block policy-icon"><i class="fal fa-plus plus"></i> <i class="fal fa-times minus"></i></span>
                    <h2>Who we are?</h2>
                </div>
                <div class="policy-item s-2" data-count="2">
                    <span class="d-inline-block policy-icon"><i class="fal fa-plus plus"></i> <i class="fal fa-times minus"></i></span>
                    <h2>Data you provide us whenever you create an account</h2>
                </div>
                <div class="policy-item s-3" data-count="3">
                    <span class="d-inline-block policy-icon"><i class="fal fa-plus plus"></i> <i class="fal fa-times minus"></i></span>
                    <h2>Information we automatically collect</h2>
                </div>
                <div class="policy-item s-4" data-count="4">
                    <span class="d-inline-block policy-icon"><i class="fal fa-plus plus"></i> <i class="fal fa-times minus"></i></span>
                    <h2>Whenever you leave a review</h2>
                </div>
                <div class="policy-item s-5" data-count="5">
                    <span class="d-inline-block policy-icon"><i class="fal fa-plus plus"></i> <i class="fal fa-times minus"></i></span>
                    <h2>Cookies that we use</h2>
                </div>
                <div class="policy-item s-6" data-count="6">
                    <span class="d-inline-block policy-icon"><i class="fal fa-plus plus"></i> <i class="fal fa-times minus"></i></span>
                    <h2>Third party data collection</h2>
                </div>
                <div class="policy-item s-7 mb-0" data-count="7">
                    <span class="d-inline-block policy-icon"><i class="fal fa-plus plus"></i> <i class="fal fa-times minus"></i></span>
                    <h2 class="">
                        How safe is my information?
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>