    @page
@model AniX_WEB.Pages.ProfileEditModel
@{
    Layout = "_LayoutProfile";
}

<!-- Breadcrumb Area Start -->
<section class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="./Index">Home</a></li>
                <li><a class="active">Edit Profile</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
<!-- Profile Area Start -->
<section class="profile sec-mar">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-12 col-12">
                <!-- Begin form here -->
                <form method="post" enctype="multipart/form-data">
                    <div class="row pb-5">
                        <div class="col-lg-4 col-sm-12 col-12">
                            <div class="img-box">
                                @if (Model.Input.ProfileImagePath != null)
                                {
                                    <img src="@Model.Input.ProfileImagePath" 
                                         alt="Profile Image" 
                                         draggable="false" 
                                         onerror="this.onerror=null;this.src='./assets/media/profile/edit-profile.png';">
                                }
                                else
                                {
                                    <img src="./assets/media/profile/edit-profile.png" alt="Default Profile Image" draggable="false" >
                                }
                                <div class="overlay" style="display: block;">
                                    <a href="#" class="edit-icon" onclick="triggerUpload()">
                                        <i class="far fa-edit"></i> Change Profile Image
                                    </a>
                                </div>
                                <!-- Image input field inside form -->
                                <input id="file-input" name="ProfileImage" type="file" accept=".jpg,.jpeg,.png,.gif" class="d-none">
                            </div>
                        </div>
                        <div class="col-lg-8 col-sm-12 col-12">
                            <!-- Continue with the rest of the form fields -->
                            <div class="form-group">
                                <label for="Username">New Username</label>
                                <input name="Username" class="form-control" placeholder="Username" value="@Model.Input.Username">
                            </div>
                            <!-- Email field -->
                            <div class="form-group">
                                <label for="Email">New Email</label>
                                <input type="email" name="Email" class="form-control" placeholder="Email" value="@Model.Input.Email">
                            </div>
                            <!-- Password field -->
                            <div class="form-group">
                                <label for="Password">New Password</label>
                                <input name="Password" type="password" class="form-control" placeholder="Password">
                            </div>
                            <!-- Save Changes button -->
                            <button type="submit" class="anime-btn btn-dark border-change">
                                Save Changes
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 offset-lg-0 col-sm-8 offset-sm-2 col-12">
                <!-- Profile links -->
                <div style="margin-top: 38px;" class="profile-link bg-color-black">
                    <h5>Playlists</h5>
                    <a href="/playlist">Watch Later</a>
                    <a href="/playlist#playlist">Your Playlist</a>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script>

        var serverMessage = "";
        var messageType = "info";

        @if (TempData["Message"] != null)
        {
            <text>
                serverMessage = "@Html.Raw(TempData["Message"])";
            messageType = "error";
            </text>
        }
    </script>
    <script>
        function triggerUpload() {
            document.getElementById('file-input').click();
        }

        document.querySelector('form').addEventListener('submit', function (event) {
            var fileInput = document.getElementById('file-input');
            if (fileInput.files.length === 0) {
                alert('Please select a profile image to upload.');
                event.preventDefault(); 
            } else {
            }
        });

        document.getElementById('file-input').addEventListener('change', function (event) {
            if (event.target.files && event.target.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    document.querySelector('.img-box img').setAttribute('src', e.target.result);
                };

                reader.readAsDataURL(event.target.files[0]);
            }
        });
    </script>
    
    <script>
    $(document).ready(function() {
        $('.modal').on('hidden.bs.modal', function() {
            if (!$('.modal.show').length) {
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                $('body').css('overflow', 'auto');
            }
        });
    });
</script>
}
}
