@page
@model AniX_WEB.Pages.TermsOfUseModel
@{
}
<!--=====================================-->
<!--=      Breadcrumb Area Start        =-->
<!--=====================================-->
<section class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="./Index">Home</a></li>
                <li><a class="active">Terms of Use</a></li>
            </ul>
        </div>
    </div>
</section>
<!--=====================================-->
<!--=      Content Area Start        =-->
<!--=====================================-->
<section class="policy content sec-mar">
    <div class="container">
        <h6>Terms of Use</h6>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <div class="show policy-content s-1">
                    <h3>How are spoilers treated?</h3>
                    <p>Spoilers are a significant concern for anime enthusiasts, and at AniX, we take spoiler prevention seriously. We implement features and guidelines to minimize the risk of unintentional spoilers. User-generated reviews and comments are monitored, and users are encouraged to use spoiler tags when discussing critical plot points or surprises. Additionally, our platform offers customizable spoiler settings, allowing users to define their spoiler sensitivity levels. This means you can enjoy discussions and reviews while filtering out potential spoilers based on your preferences. Our community values spoiler-free experiences, and we strive to create a space where fans can enjoy anime without the fear of unwanted revelations, respecting each user's unique viewing journey and preferences.</p>
                </div>
                <div class="policy-content s-2">
                    <h3>What is considered spoiler?</h3>
                    <p>In the context of the AniX platform, spoilers are defined as any information or details that reveal significant plot twists, character developments, or key events in an anime series or movie, especially when shared without proper context or warning. We emphasize a community-driven approach to spoiler identification, encouraging users to use spoiler tags when discussing sensitive plot elements in reviews, comments, or forum discussions. This proactive measure helps protect the experience of others who may not have watched a particular anime yet, ensuring that users can freely engage in conversations while respecting the need to avoid unwelcome revelations. Our goal is to foster a considerate and spoiler-free environment where anime enthusiasts can engage in meaningful discussions without inadvertently spoiling the viewing experience for others.</p>
                </div>
                <div class="policy-content s-3">
                    <h3>What is temporary ban?</h3>
                    <p>A temporary ban on the AniX platform is a measure taken to address violations of our community guidelines or terms of use. When a user engages in behavior that disrupts the positive and respectful environment we strive to maintain, such as excessive or severe rule violations, harassment, or the sharing of inappropriate content, a temporary ban may be imposed. During this period, the user's access to certain features or interactions on the platform is restricted for a specific duration. Temporary bans serve as a way to provide a cooling-off period, giving the user an opportunity to reflect on their actions and comply with community standards. The duration of the ban varies based on the severity of the violation and is intended to encourage respectful and responsible behavior among our users, ensuring that the AniX community remains a welcoming and enjoyable space for all anime enthusiasts.</p>
                </div>
                <div class="policy-content s-4">
                    <h3>What is permanent ban?</h3>
                    <p>A permanent ban on the AniX platform is a decisive action taken in response to severe and repeated violations of our community guidelines or terms of use. When a user engages in behavior that seriously undermines the positive and respectful atmosphere we aim to foster, such as engaging in harmful activities, persistent harassment, or sharing explicit or prohibited content, a permanent ban may be enforced. This ban is irrevocable and results in the complete removal of the user's access to the platform, including their account and associated data. A permanent ban serves as a safeguard to protect the integrity and safety of the AniX community, ensuring that the platform remains a welcoming and secure space for all anime enthusiasts. It is a last resort measure taken to maintain a respectful and enjoyable environment for users who abide by our guidelines and respect the community's well-being.</p>
                </div>
                <div class="policy-content s-5">
                    <h3>Whenever you leave a review</h3>
                    <p>When you decide to leave a review on the AniX platform, you're not just sharing your thoughts; you're actively contributing to the collective knowledge and enthusiasm of our anime-loving community. Your review is your voice in the world of anime, allowing you to express your opinions, insights, and recommendations. Whether you're praising a hidden gem or offering constructive feedback, your contribution adds depth and perspective to the platform. By sharing your reviews, you play an integral role in helping fellow anime enthusiasts discover new favorites and make informed choices about what to watch. It's not just about ratings; it's about sparking meaningful conversations, sharing your passion, and collectively celebrating the diverse world of anime. Your reviews are a cornerstone of the AniX experience, fostering connections, and creating a vibrant space where fans can learn, explore, and grow together.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="policy-item s-1 show" data-count="1">
                    <span class="d-inline-block policy-icon"><i class="fal fa-plus plus"></i> <i class="fal fa-times minus"></i></span>
                    <h2>How are spoilters treated?</h2>
                </div>
                <div class="policy-item s-2" data-count="2">
                    <span class="d-inline-block policy-icon"><i class="fal fa-plus plus"></i> <i class="fal fa-times minus"></i></span>
                    <h2>What is considered spoiler?</h2>
                </div>
                <div class="policy-item s-3" data-count="3">
                    <span class="d-inline-block policy-icon"><i class="fal fa-plus plus"></i> <i class="fal fa-times minus"></i></span>
                    <h2>What is temporary ban?</h2>
                </div>
                <div class="policy-item s-4" data-count="4">
                    <span class="d-inline-block policy-icon"><i class="fal fa-plus plus"></i> <i class="fal fa-times minus"></i></span>
                    <h2>What is permanent ban?</h2>
                </div>
                <div class="policy-item s-5" data-count="5">
                    <span class="d-inline-block policy-icon"><i class="fal fa-plus plus"></i> <i class="fal fa-times minus"></i></span>
                    <h2>Whenever you leave a review</h2>
                </div>
            </div>
        </div>
    </div>
</section>